//                 |                   
//     __|   _ \   |   _ \    __|  __| 
//    (     (   |  |  (   |  |   \__ \ 
//   \___| \___/  _| \___/  _|   ____/ 
//                                   

//brand colors
$color_primary_brand:#ebebeb;
$color_secundary_brand:#98CA3D;

//basic colors
$color_primary:#007bff;
$color_secundary: #6c757d;
$color_success:#28a745;
$color_danger:#dc3545;
$color_warning:#ffc107;
$color_info:#17a2b8;

//text
$color_black: black;
$color_white: white;
$color_light: #f8f9fa;