//                _)      | 
//     _` |   __|  |   _` | 
//    (   |  |     |  (   | 
//   \__, | _|    _| \__,_| 
//   |___/                  

//cols
$grid_width: 100%;
$grid_width_md: 720px;
$grid_width_lg: 960px;
$grid_width_xl: 1140px;

$grid_break_md: 720px;
$grid_break_lg: 960px;
$grid_break_xl: 1140px;

$grid_cols: 12;
$grid_medianil: 5px;
$grid_row: 0px;